# misc
notifications:
  email: false
sudo: false

env:
  - PYTHONPATH=.
  - DATABASE_URI="sqlite:///:memory:"

# python settings
language: python
sudo: required
dist: xenial
python:
  - "3.6"
  - "3.7"

# install packages
install:
  - pip install -r requirements_dev.txt
  - pip install codecov

# run test
script:
  - alembic --config=./migrations/alembic.ini upgrade head
  - pytest --cov=./
  - flake8

after_success:
  - codecov
