notifications:
  email: false

dist: xenial
sudo: required

services:
  - postgresql

env:
  - PYTHONPATH=. DATABASE_URI="postgresql://postgres@127.0.0.1:5432/busy-beaver-test" IMAGE_NAME="alysivji/busy-beaver"

language: python
python:
  - "3.7"

install:
  - pip install -r requirements_dev.txt

before_script:
  - psql -c 'create database busy-beaver-test;' -U postgres

script:
  - alembic --config=./migrations/alembic.ini upgrade head
  - pytest --cov=./
  - flake8

before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull ${IMAGE_NAME} || true
  - docker build -f docker/prod/Dockerfile --pull --cache-from ${IMAGE_NAME} --tag ${IMAGE_NAME} --tag ${IMAGE_NAME}:${TRAVIS_COMMIT} .
deploy:
  provider: script
  script:
    - docker push ${IMAGE_NAME} && docker push ${IMAGE_NAME}:${TRAVIS_COMMIT}
  on:
    branch: master
