version: '3.6'

volumes:
  pgdata:


services:
  db:
    image: postgres:10.3-alpine
    environment:
      POSTGRES_DB: busy-beaver
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data/
    ports:
      - "9432:5432"

  app:
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile
    command: ["gunicorn", "busy_beaver:api", "--debug", "--host", "0.0.0.0", "--port", "5100"]
    environment:
      PYTHONPATH: .
      DATABASE_URI: ${DATABASE_URI}
      SLACK_BOTUSER_OAUTH_TOKEN: ${SLACK_BOTUSER_OAUTH_TOKEN}
      GITHUB_OAUTH_TOKEN: ${GITHUB_OAUTH_TOKEN}
      GITHUB_APP_CLIENT_ID: ${GITHUB_APP_CLIENT_ID}
      GITHUB_APP_CLIENT_SECRET: ${GITHUB_APP_CLIENT_SECRET}
      TWITTER_CONSUMER_KEY: ${TWITTER_CONSUMER_KEY}
      TWITTER_CONSUMER_SECRET: ${TWITTER_CONSUMER_SECRET}
      TWITTER_ACCESS_TOKEN: ${TWITTER_ACCESS_TOKEN}
      TWITTER_ACCESS_TOKEN_SECRET: ${TWITTER_ACCESS_TOKEN_SECRET}
    stdin_open: true
    tty: true
    volumes:
      - .:/app/
      - ./logs:/app/logs/
    ports:
      - 5000:5100
