version: '3.6'

networks:
  sivnet:
    external: true
  local:
    external: false

volumes:
  pgdata:

services:
  # infrastructure
  redis:
    image: redis:4.0-alpine
    healthcheck:
      test: ["CMD-SHELL", "redis-cli","ping"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s
    networks:
      - local

  # busy-beaver business logic
  app:
    image: alysivji/busy-beaver:latest
    command: webserver
    restart: always
    environment: &app_env_vars
      IN_PRODUCTION: 1
      PYTHONPATH: .
      FLASK_APP: /app/busy_beaver/__init__.py
      DATABASE_URI: ${DATABASE_URI}
      REDIS_URI: ${REDIS_URI}
      SENTRY_DSN: ${BUSYBEAVER_SENTRY_DSN}
      OAUTHLIB_INSECURE_TRANSPORT: 1
      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
      SECRET_KEY: ${SECRET_KEY}
      # integrations
      SLACK_CLIENT_ID: ${SLACK_CLIENT_ID}
      SLACK_CLIENT_SECRET: ${SLACK_CLIENT_SECRET}
      SLACK_BOTUSER_OAUTH_TOKEN: ${SLACK_BOTUSER_OAUTH_TOKEN}
      SLACK_SIGNING_SECRET: ${SLACK_SIGNING_SECRET}
      MEETUP_API_KEY: ${MEETUP_API_KEY}
      GITHUB_APP_CLIENT_ID: ${GITHUB_APP_CLIENT_ID}
      GITHUB_APP_CLIENT_SECRET: ${GITHUB_APP_CLIENT_SECRET}
      GITHUB_OAUTH_TOKEN: ${GITHUB_OAUTH_TOKEN}
      GITHUB_SIGNING_SECRET: ${GITHUB_SIGNING_SECRET}
      TWITTER_ACCESS_TOKEN_SECRET: ${TWITTER_ACCESS_TOKEN_SECRET}
      TWITTER_ACCESS_TOKEN: ${TWITTER_ACCESS_TOKEN}
      TWITTER_CONSUMER_KEY: ${TWITTER_CONSUMER_KEY}
      TWITTER_CONSUMER_SECRET: ${TWITTER_CONSUMER_SECRET}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
    networks:
      - sivnet
      - local
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.docker.network=sivnet
      - traefik.backend=busybeaver
      - traefik.frontend.rule=Host:busybeaver.sivji.com
      - traefik.port=5000
  worker:
    image: alysivji/busy-beaver:latest
    command: worker
    restart: always
    environment: *app_env_vars
    networks:
      - local
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=false

  # agents to support busy-beaver
  watchtower:  # restart app container when new releases
    image: v2tec/watchtower
    command: --label-enable --cleanup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - local
    labels:
      - traefik.enable=false
