version: '3.6'

volumes:
  pgdata:


services:
  db:
    image: postgres:10.3-alpine
    environment:
      POSTGRES_DB: busy-beaver
      POSTGRES_USER: bbdev_user
      POSTGRES_PASSWORD: bbdev_password
    volumes:
      - pgdata:/var/lib/postgresql/data/
    ports:
      - "9432:5432"

  app:
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile
    command: ["gunicorn", "busy_beaver:app", "-b", "0.0.0.0:5100", "--reload", "--timeout",  "100000"]
    env_file: .env
    environment: &env_vars
      PYTHONPATH: .
      FLASK_APP: /app/busy_beaver/__init__.py
      FLASK_ENV: development
      DATABASE_URI: postgresql://bbdev_user:bbdev_password@db:5432/busy-beaver
    stdin_open: true
    tty: true
    volumes:
      - .:/app/
      - ./logs:/app/logs/
    ports:
      - 5000:5100
