alembic
Flask-Migrate
Flask-RQ2
Flask-SQLAlchemy
Flask
gunicorn
psycopg2-binary
python-dateutil
python-json-logger
pytz
redis<3.2  # Redis is intentionally hammered to 3.2, there was something along the lines of testing wasn't working, it's been a while.
requests
sentry-sdk[flask]
slackclient
SQLAlchemy
tweepy
