interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/users/albcae324sdf/events/public?page=1&per_page=30
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/activity#list-public-events-for-a-user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4981'
      X-RateLimit-Reset:
      - '1630165458'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '19'
    status_code: 404
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/users/alysivji/events/public?page=1&per_page=30
  response:
    content: '[{"id":"17754951976","type":"WatchEvent","actor":{"id":4369343,"login":"alysivji","display_login":"alysivji","gravatar_id":"","url":"https://api.github.com/users/alysivji","avatar_url":"https://avatars.githubusercontent.com/u/4369343?"},"repo":{"id":145337588,"name":"agronholm/anyio","url":"https://api.github.com/repos/agronholm/anyio"},"payload":{"action":"started"},"public":true,"created_at":"2021-08-28T15:16:20Z"},{"id":"17750703342","type":"DeleteEvent","actor":{"id":4369343,"login":"alysivji","display_login":"alysivji","gravatar_id":"","url":"https://api.github.com/users/alysivji","avatar_url":"https://avatars.githubusercontent.com/u/4369343?"},"repo":{"id":183815453,"name":"alysivji/busy-beaver","url":"https://api.github.com/repos/alysivji/busy-beaver"},"payload":{"ref":"refactor/cleanup-github-client","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2021-08-27T22:02:41Z"},{"id":"17750702779","type":"PushEvent","actor":{"id":4369343,"login":"alysivji","display_login":"alysivji","gravatar_id":"","url":"https://api.github.com/users/alysivji","avatar_url":"https://avatars.githubusercontent.com/u/4369343?"},"repo":{"id":158856915,"name":"busy-beaver-dev/busy-beaver","url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver"},"payload":{"push_id":7815179368,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"2a30157b3ceac5895c5586cc91afe079cd3092fc","before":"16b34a546cf6b3718fee13d22df7e68bd54af9dc","commits":[{"sha":"2a30157b3ceac5895c5586cc91afe079cd3092fc","author":{"email":"alysivji@gmail.com","name":"Aly
      Sivji"},"message":"Group GitHub API Navigation code (#354)","distinct":true,"url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/commits/2a30157b3ceac5895c5586cc91afe079cd3092fc"}]},"public":true,"created_at":"2021-08-27T22:02:37Z","org":{"id":47989901,"login":"busy-beaver-dev","gravatar_id":"","url":"https://api.github.com/orgs/busy-beaver-dev","avatar_url":"https://avatars.githubusercontent.com/u/47989901?"}},{"id":"17750702700","type":"PullRequestEvent","actor":{"id":4369343,"login":"alysivji","display_login":"alysivji","gravatar_id":"","url":"https://api.github.com/users/alysivji","avatar_url":"https://avatars.githubusercontent.com/u/4369343?"},"repo":{"id":158856915,"name":"busy-beaver-dev/busy-beaver","url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver"},"payload":{"action":"closed","number":354,"pull_request":{"url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/pulls/354","id":721632845,"node_id":"MDExOlB1bGxSZXF1ZXN0NzIxNjMyODQ1","html_url":"https://github.com/busy-beaver-dev/busy-beaver/pull/354","diff_url":"https://github.com/busy-beaver-dev/busy-beaver/pull/354.diff","patch_url":"https://github.com/busy-beaver-dev/busy-beaver/pull/354.patch","issue_url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/issues/354","number":354,"state":"closed","locked":false,"title":"Group
      GitHub API Navigation code","user":{"login":"alysivji","id":4369343,"node_id":"MDQ6VXNlcjQzNjkzNDM=","avatar_url":"https://avatars.githubusercontent.com/u/4369343?v=4","gravatar_id":"","url":"https://api.github.com/users/alysivji","html_url":"https://github.com/alysivji","followers_url":"https://api.github.com/users/alysivji/followers","following_url":"https://api.github.com/users/alysivji/following{/other_user}","gists_url":"https://api.github.com/users/alysivji/gists{/gist_id}","starred_url":"https://api.github.com/users/alysivji/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alysivji/subscriptions","organizations_url":"https://api.github.com/users/alysivji/orgs","repos_url":"https://api.github.com/users/alysivji/repos","events_url":"https://api.github.com/users/alysivji/events{/privacy}","received_events_url":"https://api.github.com/users/alysivji/received_events","type":"User","site_admin":false},"body":"###
      What does this do\r\n\r\n- collect like code inside of the `ApiNav` class\r\n\r\n###
      Why are we doing this\r\n\r\n- starting #352 \r\n\r\n### How should this be
      tested\r\n\r\ndo tests still pass? then we are good\r\n\r\n### Migrations\r\n\r\nn/a\r\n\r\n###
      Dependencies\r\n\r\nn/a\r\n\r\n### Callouts\r\n\r\nn/a\r\n","created_at":"2021-08-27T21:52:15Z","updated_at":"2021-08-27T22:02:36Z","closed_at":"2021-08-27T22:02:36Z","merged_at":"2021-08-27T22:02:36Z","merge_commit_sha":"2a30157b3ceac5895c5586cc91afe079cd3092fc","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/pulls/354/commits","review_comments_url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/pulls/354/comments","review_comment_url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/pulls/comments{/number}","comments_url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/issues/354/comments","statuses_url":"https://api.github.com/repos/busy-beaver-dev/busy-beaver/statuses/9de9be6c85e0001b4e67b00c8976d09a79e5b32b","head":{"label":"alysivji:refactor/cleanup-github-client","ref":"refactor/cleanup-github-client","sha":"9de9be6c85e0001b4e67b00c8976d09a79e5b32b","user":{"login":"alysivji","id":4369343,"node_id":"MDQ6VXNlcjQzNjkzNDM=","avatar_url":"https://avatars.githubusercontent.com/u/4369343?v=4","gravatar_id":"","url":"https://api.github.com/users/alysivji","html_url":"https://github.com/alysivji","followers_url":"https://api.github.com/users/alysivji/followers","following_url":"https://api.github.com/users/alysivji/following{/other_user}","gists_url":"https://api.github.com/users/alysivji/gists{/gist_id}","starred_url":"https://api.github.com/users/alysivji/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alysivji/subscriptions","organizations_url":"https://api.github.com/users/alysivji/orgs","repos_url":"https://api.github.com/users/alysivji/repos","events_url":"https://api.github.com/users/alysivji/events{/privacy}","received_events_url":"https://api.github.com/users/alysivji/received_events","type":"User","site_admin":false},"repo":{"id":183815453,"node_id":"MDEwOlJlcG9zaXRvcnkxODM4MTU0NTM=","name":"busy-beaver","full_name":"alysivji/busy-beaver","private":false,"owner":{"login":"alysivji","id":4369343,"node_id":"MDQ6VXNlcjQzNjkzNDM=","avatar_url":"https://avatars.githubusercontent.com/u/4369343?v=4","gravatar_id":"","url":"https://api.github.com/users/alysivji","html_url":"https://github.com/alysivji","followers_url":"https://api.github.com/users/alysivji/followers","following_url":"https://api.github.com/users/alysivji/following{/other_user}","gists_url":"https://api.github.com/users/alysivji/gists{/gist_id}","starred_url":"https://api.github.com/users/alysivji/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alysivji/subscriptions","organizations_url":"https://api.github.com/users/alysivji/orgs","repos_url":"https://api.github.com/users/alysivji/repos","events_url":"https://api.github.com/users/alysivji/events{/privacy}","received_events_url":"https://api.github.com/users/alysivji/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alysivji/busy-beaver","description":"The
      Chicago Python Community Engagement Slack bot","fork":true,"url":"https://api.github.com/repos/alysivji/busy-beaver","forks_url":"https://api.github.com/repos/alysivji/busy-beaver/forks","keys_url":"https://api.github.com/repos/alysivji/busy-beaver/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alysivji/busy-beaver/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alysivji/busy-beaver/teams","hooks_url":"https://api.github.com/repos/alysivji/busy-beaver/hooks","issue_events_url":"https://api.github.com/repos/alysivji/busy-beaver/issues/events{/number}","events_url":"https://api.github.com/repos/alysivji/busy-beaver/events","assignees_url":"https://api.github.com/repos/alysivji/busy-beaver/assignees{/user}","branches_url":"https://api.github.com/repos/alysivji/busy-beaver/branches{/branch}","tags_url":"https://api.github.com/repos/alysivji/busy-beaver/tags","blobs_url":"https://api.github.com/repos/alysivji/busy-beaver/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alysivji/busy-beaver/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alysivji/busy-beaver/git/refs{/sha}","trees_url":"https://api.github.com/repos/alysivji/busy-beaver/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alysivji/busy-beaver/statuses/{sha}","languages_url":"https://api.github.com/repos/alysivji/busy-beaver/languages","stargazers_url":"https://api.github.com/repos/alysivji/busy-beaver/stargazers","contributors_url":"https://api.github.com/repos/alysivji/busy-beaver/contributors","subscribers_url":"https://api.github.com/repos/alysivji/busy-beaver/subscribers","subscription_url":"https://api.github.com/repos/alysivji/busy-beaver/subscription","commits_url":"https://api.github.com/repos/alysivji/busy-beaver/commits{/sha}","git_commits_url":"https://api.github.com/repos/alysivji/busy-beaver/git/commits{/sha}","comments_url":"https://api.github.com/repos/alysivji/busy-beaver/comments{/number}","issue_comment_url":"https://api.github.com/repos/alysivji/busy-beaver/issues/comments{/number}","contents_url":"https://api.github.com/repos/alysivji/busy-beaver/contents/{+path}","compare_url":"https://api.github.com/repos/alysivji/busy-beaver/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alysivji/busy-beaver/merges","archive_url":"https://api.github.com/repos/alysivji/busy-beaver/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alysivji/busy-beaver/downloads","issues_url":"https://api.github.com/repos/alysivji/busy-beaver/issues{/number}","pulls_url":"https://api.github.com/repos/alysivji/busy-beaver/pulls{/number}","milestones_url":"https://api.github.com/repos/alysivji/busy-beaver/milestones{/number}","notifications_url":"https://api.github.com/repos/alysivji/busy-beaver/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alysivji/busy-beaver/labels{/name}","releases_url":"https://api.github.com/repos/alysivji/busy-beaver/releases{/id}","deployments_url":"https://api.github.com/repos/alysivji/busy-beaver/deployments","created_at":"2019-04-27T19:49:32Z","updated_at":"2021-04-16T09:47:34Z","pushed_at":"2021-08-27T21:50:00Z","git_url":"git://github.com/alysivji/busy-beaver.git","ssh_url":"git@github.com:alysivji/busy-beaver.git","clone_url":"https://github.com/alysivji/busy-beaver.git","svn_url":"https://github.com/alysivji/busy-beaver","homepage":"https://www.chipy.org","size":702,"stargazers_count":3,"watchers_count":3,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":3,"default_branch":"master"}},"base":{"label":"busy-beaver-dev:master","ref":"master","sha":"16b34a546cf6b3718fee13d22df7e68bd54af9dc","user":{"login":"busy-beaver-dev","id":47989901,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ3OTg5OTAx","avatar_url":"https://avatars.githubusercontent.com/u/47989901?v=4","gravatar_id":"","url":"https://api.github.com/users/busy-beaver-dev","html_url":"https://github.com/busy-beaver-dev","followers_url":"https://api.github.com/users/busy-beaver-dev/followers","following_url":"https://api.github.com/users/busy[...]
