interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
      authorization: [DUMMY]
    method: HEAD
    uri: https://api.github.com/users/alysivji/starred
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"9a36cfbbd42dc72b49e97f68f215a910"']
      Link: ['<https://api.github.com/user/4369343/starred?page=2>; rel="next", <https://api.github.com/user/4369343/starred?page=26>;
          rel="last"']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: [public_repo]
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4978']
      X-RateLimit-Reset: ['1543100759']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      authorization: [DUMMY]
    method: GET
    uri: https://api.github.com/users/alysivji/starred?per_page=30&page=1
  response:
    body: {string: "[{\"id\":11439734,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMTQzOTczNA==\",\"name\":\"betamax\",\"full_name\":\"betamaxpy/betamax\",\"private\":false,\"owner\":{\"login\":\"betamaxpy\",\"id\":16282629,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjE2MjgyNjI5\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/16282629?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/betamaxpy\",\"html_url\":\"https://github.com/betamaxpy\",\"followers_url\":\"https://api.github.com/users/betamaxpy/followers\",\"following_url\":\"https://api.github.com/users/betamaxpy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/betamaxpy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/betamaxpy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/betamaxpy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/betamaxpy/orgs\",\"repos_url\":\"https://api.github.com/users/betamaxpy/repos\",\"events_url\":\"https://api.github.com/users/betamaxpy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/betamaxpy/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/betamaxpy/betamax\",\"description\":\"A
        VCR imitation designed only for python-requests.\",\"fork\":false,\"url\":\"https://api.github.com/repos/betamaxpy/betamax\",\"forks_url\":\"https://api.github.com/repos/betamaxpy/betamax/forks\",\"keys_url\":\"https://api.github.com/repos/betamaxpy/betamax/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/betamaxpy/betamax/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/betamaxpy/betamax/teams\",\"hooks_url\":\"https://api.github.com/repos/betamaxpy/betamax/hooks\",\"issue_events_url\":\"https://api.github.com/repos/betamaxpy/betamax/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/betamaxpy/betamax/events\",\"assignees_url\":\"https://api.github.com/repos/betamaxpy/betamax/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/betamaxpy/betamax/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/betamaxpy/betamax/tags\",\"blobs_url\":\"https://api.github.com/repos/betamaxpy/betamax/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/betamaxpy/betamax/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/betamaxpy/betamax/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/betamaxpy/betamax/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/betamaxpy/betamax/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/betamaxpy/betamax/languages\",\"stargazers_url\":\"https://api.github.com/repos/betamaxpy/betamax/stargazers\",\"contributors_url\":\"https://api.github.com/repos/betamaxpy/betamax/contributors\",\"subscribers_url\":\"https://api.github.com/repos/betamaxpy/betamax/subscribers\",\"subscription_url\":\"https://api.github.com/repos/betamaxpy/betamax/subscription\",\"commits_url\":\"https://api.github.com/repos/betamaxpy/betamax/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/betamaxpy/betamax/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/betamaxpy/betamax/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/betamaxpy/betamax/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/betamaxpy/betamax/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/betamaxpy/betamax/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/betamaxpy/betamax/merges\",\"archive_url\":\"https://api.github.com/repos/betamaxpy/betamax/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/betamaxpy/betamax/downloads\",\"issues_url\":\"https://api.github.com/repos/betamaxpy/betamax/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/betamaxpy/betamax/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/betamaxpy/betamax/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/betamaxpy/betamax/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/betamaxpy/betamax/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/betamaxpy/betamax/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/betamaxpy/betamax/deployments\",\"created_at\":\"2013-07-16T03:23:22Z\",\"updated_at\":\"2018-11-24T21:44:22Z\",\"pushed_at\":\"2018-10-25T05:50:16Z\",\"git_url\":\"git://github.com/betamaxpy/betamax.git\",\"ssh_url\":\"git@github.com:betamaxpy/betamax.git\",\"clone_url\":\"https://github.com/betamaxpy/betamax.git\",\"svn_url\":\"https://github.com/betamaxpy/betamax\",\"homepage\":\"https://betamax.readthedocs.org\",\"size\":492,\"stargazers_count\":352,\"watchers_count\":352,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"forks_count\":42,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":12,\"license\":{\"key\":\"other\",\"name\":\"Other\",\"spdx_id\":\"NOASSERTION\",\"url\":null,\"node_id\":\"MDc6TGljZW5zZTA=\"},\"forks\":42,\"open_issues\":12,\"watchers\":352,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}},{\"id\":114918524,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMTQ5MTg1MjQ=\",\"name\":\"notes\",\"full_name\":\"chrisalbon/notes\",\"private\":false,\"owner\":{\"login\":\"chrisalbon\",\"id\":3612307,\"node_id\":\"MDQ6VXNlcjM2MTIzMDc=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/3612307?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/chrisalbon\",\"html_url\":\"https://github.com/chrisalbon\",\"followers_url\":\"https://api.github.com/users/chrisalbon/followers\",\"[...]
[...]
