interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      authorization:
      - DUMMY
    method: GET
    uri: https://www.slack.com/api/users.conversations
  response:
    body:
      string: '{"ok":true,"channels":[{"id":"C5GQNTS07","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1495325664,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U5FTQ3QRZ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T5G0FCMNW"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"previous_names":[]},{"id":"CEWD83Y74","name":"busy-beaver","is_channel":true,"is_group":false,"is_im":false,"created":1545106792,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"busy-beaver","is_shared":false,"parent_conversation":null,"creator":"U5FTQ3QRZ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T5G0FCMNW"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set"[...]
