interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      authorization:
      - DUMMY
    method: GET
    uri: https://www.slack.com/api/conversations.members?channel=C5GQNTS07
  response:
    body:
      string: '{"ok":true,"members":["U5FTQ3QRZ","UEANVEWMN","UEGGXQ5EF","UFZKG96KD","UGG6065AP","UGLHLEJMT","UKZF9G2SH"],"response_metadata":{"next_cursor":""}}'
    headers:
      Content-Type: application/json; charset=utf-8
      X-Accepted-OAuth-Scopes: channels:read,groups:read,mpim:read,im:read,read
      X-OAuth-Scopes: app_mentions:read,channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,mpim:write,reactions:read,reactions:write,team:read,usergroups:read,users.profile:read,users:read,users:write,pins:read,pins:write
      X-Slack-Backend: h
      X-Slack-Req-Id: 09a0f474123dab1dafd37cc51ceaece7
      X-Via: haproxy-www-gf66
    status:
      code: 200
      message: OK
    url: https://www.slack.com/api/conversations.members?channel=C5GQNTS07
version: 1
