interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      authorization:
      - DUMMY
    method: GET
    uri: https://www.slack.com/api/channels.info?channel=C5GQNTS07
  response:
    body:
      string: '{"ok":true,"channel":{"id":"C5GQNTS07","name":"general","is_channel":true,"created":1495325664,"is_archived":false,"is_general":true,"unlinked":0,"creator":"U5FTQ3QRZ","name_normalized":"general","is_read_only":false,"is_thread_only":false,"is_non_threadable":false,"is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"last_read":"1560902428.000100","latest":{"bot_id":"BEJ2BG1PG","type":"message","text":"test","user":"UEGGXQ5EF","ts":"1579899726.000100","team":"T5G0FCMNW","bot_profile":{"id":"BEJ2BG1PG","deleted":false,"name":"BusyBeaverDev","updated":1561762075,"app_id":"AECGKV06T","icons":{"image_36":"https:\/\/avatars.slack-edge.com\/2018-12-15\/504322108624_7253fc514c8df792ad2e_36.png","image_48":"https:\/\/avatars.slack-edge.com\/2018-12-15\/504322108624_7253fc514c8df792ad2e_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2018-12-15\/504322108624_7253fc514c8df792ad2e_72.png"},"team_id":"T5G0FCMNW"}},"unread_count":17,"unread_count_display":14,"members":["U5FTQ3QRZ","UGG6065AP","UFZKG96KD","UEANVEWMN","UGLHLEJMT","UEGGXQ5EF","UKZF9G2SH"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"previous_names":[]}}'
    headers:
      Content-Type: application/json; charset=utf-8
      X-Accepted-OAuth-Scopes: channels:read
      X-OAuth-Scopes: app_mentions:read,channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,mpim:write,reactions:read,reactions:write,team:read,usergroups:read,users.profile:read,users:read,users:write,pins:read,pins:write
      X-Slack-Backend: h
      X-Slack-Req-Id: bf308b5367d61de8a5ba2f678db729ee
      X-Via: haproxy-www-9611
    status:
      code: 200
      message: OK
    url: https://www.slack.com/api/channels.info?channel=C5GQNTS07
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      authorization:
      - DUMMY
    method: GET
    uri: https://www.slack.com/api/conversations.members?channel=C5GQNTS07
  response:
    body:
      string: '{"ok":true,"members":["U5FTQ3QRZ","UEANVEWMN","UEGGXQ5EF","UFZKG96KD","UGG6065AP","UGLHLEJMT","UKZF9G2SH"],"response_metadata":{"next_cursor":""}}'
    headers:
      Content-Type: application/json; charset=utf-8
      X-Accepted-OAuth-Scopes: channels:read,groups:read,mpim:read,im:read,read
      X-OAuth-Scopes: app_mentions:read,channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,mpim:write,reactions:read,reactions:write,team:read,usergroups:read,users.profile:read,users:read,users:write,pins:read,pins:write
      X-Slack-Backend: h
      X-Slack-Req-Id: 7b6978951c3288ccb9e0db889ec62e91
      X-Via: haproxy-www-8ijn
    status:
      code: 200
      message: OK
    url: https://www.slack.com/api/conversations.members?channel=C5GQNTS07
version: 1
