interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
      authorization: [DUMMY]
    method: HEAD
    uri: https://api.github.com/users/alysivji/repos
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"5e05e87840b59ac1fa20eebac24f69f5"']
      Link: ['<https://api.github.com/user/4369343/repos?page=2>; rel="next", <https://api.github.com/user/4369343/repos?page=3>;
          rel="last"']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: [public_repo]
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4969']
      X-RateLimit-Reset: ['1543100759']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      authorization: [DUMMY]
    method: GET
    uri: https://api.github.com/users/alysivji/repos?per_page=30&page=1
  response:
    body: {string: "[{\"id\":121759076,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMjE3NTkwNzY=\",\"name\":\"20180215-chipy-project-night\",\"full_name\":\"alysivji/20180215-chipy-project-night\",\"private\":false,\"owner\":{\"login\":\"alysivji\",\"id\":4369343,\"node_id\":\"MDQ6VXNlcjQzNjkzNDM=\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/4369343?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/alysivji\",\"html_url\":\"https://github.com/alysivji\",\"followers_url\":\"https://api.github.com/users/alysivji/followers\",\"following_url\":\"https://api.github.com/users/alysivji/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/alysivji/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/alysivji/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/alysivji/subscriptions\",\"organizations_url\":\"https://api.github.com/users/alysivji/orgs\",\"repos_url\":\"https://api.github.com/users/alysivji/repos\",\"events_url\":\"https://api.github.com/users/alysivji/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/alysivji/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/alysivji/20180215-chipy-project-night\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night\",\"forks_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/forks\",\"keys_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/teams\",\"hooks_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/hooks\",\"issue_events_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/events\",\"assignees_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/tags\",\"blobs_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/languages\",\"stargazers_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/stargazers\",\"contributors_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/contributors\",\"subscribers_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/subscribers\",\"subscription_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/subscription\",\"commits_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/merges\",\"archive_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/downloads\",\"issues_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/alysivji/20180215-chipy-project-night/deployments\",\"created_at\":\"2018-02-16T14:20:45Z\",\"updated_at\":\"2018-02-16T14:20:59Z\",\"pushed_at\":\"2018-02-16T14:20:58Z\",\"git_url\":\"git://github.com/alysivji/20180215-chipy-project-night.git\",\"ssh_url\":\"git@github.com:alysivji/20180215-chipy-project-night.git\",\"clone_url\":\"https://github.com/alysivji/20180215-chipy-project-night.git\",\"svn_url\":\"https://github.com/alysivji/20180215-chipy-project-night\",\"homepage\":null,\"size\":5,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":125548045,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMjU1NDgwNDU=\",\"name\":\"20180315-chipy-project-night\",\"full_name\":\"alysivji/20180315-chipy-project-night\",\"private\":false,\"owner\":{\"login\":\"alysivji\",\"id\":4369343,\"node_id\":\"MDQ6VXNlcjQzNjkzNDM=\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/4369343?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/alysivji\",\"html_url\":\"https://github.com/alysivji\",\"followers_url\":\"https://api.gith[...]
[...]
