interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
      authorization: [DUMMY]
    method: GET
    uri: https://api.github.com/users/alysivji/events/public?per_page=30&page=1
  response:
    body: {string: '[{"id":"8641793888","type":"WatchEvent","actor":{"id":4369343,"login":"alysivji","display_login":"alysivji","gravatar_id":"","url":"https://api.github.com/users/alysivji","avatar_url":"https://avatars.githubusercontent.com/u/4369343?"},"repo":{"id":11439734,"name":"betamaxpy/betamax","url":"https://api.github.com/repos/betamaxpy/betamax"},"payload":{"action":"started"},"public":true,"created_at":"2018-11-24T21:44:22Z","org":{"id":16282629,"login":"betamaxpy","gravatar_id":"","url":"https://api.github.com/orgs/betamaxpy","avatar_url":"https://avatars.githubusercontent.com/u/16282629?"}},{"id":"8641704666","type":"PublicEvent","actor":{"id":4369343,"login":"alysivji","display_login":"alysivji","gravatar_id":"","url":"https://api.github.com/users/alysivji","avatar_url":"https://avatars.githubusercontent.com/u/4369343?"},"repo":{"id":158856915,"name":"alysivji/github-adapter","url":"https://api.github.com/repos/alysivj[...]
