interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      authorization:
      - DUMMY
    method: GET
    uri: https://www.slack.com/api/users.info?user=U5FTQ3QRZ
  response:
    body:
      string: '{"ok":true,"user":{"id":"U5FTQ3QRZ","team_id":"T5G0FCMNW","name":"alysivji","deleted":false,"color":"9f69e7","real_name":"Aly
        Sivji","tz":"America\/Chicago","tz_label":"Central Daylight Time","tz_offset":-18000,"profile":{"title":"","phone":"","skype":"","real_name":"Aly
        Sivji","real_name_normalized":"Aly Sivji","display_name":"alysivji","display_name_normalized":"alysivji","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gbda59cfe1d1","email":"alysivji@gmail.com","first_name":"Aly","last_name":"Sivji","image_24":"https:\/\/secure.gravatar.com\/avatar\/bda59cfe1d182d477357b206420e4118.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/bda59cfe1d182d477357b206420e4118.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/bda59cfe1d182d477357b206420e4118.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0010-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/bda59cfe1d182d477357b206420e4118.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0010-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/bda59cfe1d182d477357b206420e4118.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0010-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/bda59cfe1d182d477357b206420e4118.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0010-512.png","status_text_canonical":"","team":"T5G0FCMNW"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1558834031}}'
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Access-Control-Allow-Headers
      : slack-route, x-slack-version-ts
      ? !!python/object/new:multidict._istr.istr
      - Access-Control-Allow-Origin
      : '*'
      ? !!python/object/new:multidict._istr.istr
      - Access-Control-Expose-Headers
      : x-slack-req-id, retry-after
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : private, no-cache, no-store, must-revalidate
      ? !!python/object/new:multidict._istr.istr
      - Connection
      : keep-alive
      ? !!python/object/new:multidict._istr.istr
      - Content-Encoding
      : gzip
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '564'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/json; charset=utf-8
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 19 Jul 2019 01:39:34 GMT
      ? !!python/object/new:multidict._istr.istr
      - Expires
      : Mon, 26 Jul 1997 05:00:00 GMT
      ? !!python/object/new:multidict._istr.istr
      - Pragma
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Apache
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Accept-Encoding
      ? !!python/object/new:multidict._istr.istr
      - Via
      : 1.1 061a00fb73c7b9b18dbae9db08e7a852.cloudfront.net (CloudFront)
      X-Accepted-OAuth-Scopes: users:read,read
      X-OAuth-Scopes: identify,bot:basic
      X-Slack-Req-Id: 232acc99-32a7-49bc-a9b5-5826d3acb317
      X-Via: haproxy-www-ysom
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - www.slack.com
        - /api/users.info
        - user=U5FTQ3QRZ
        - ''
version: 1
