interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=utf-8
      authorization:
      - DUMMY
    method: POST
    uri: https://www.slack.com/api/views.publish
  response:
    body:
      string: '{"ok":true,"view":{"id":"VSRA36U2F","team_id":"T5G0FCMNW","app_id":"AECGKV06T","app_installed_team_id":"T5G0FCMNW","bot_id":"BEJ2BG1PG","type":"home","blocks":[{"type":"section","block_id":"83OH","text":{"type":"mrkdwn","text":"*Upcoming
        Events*","verbatim":false}},{"type":"divider","block_id":"9w\/"},{"type":"section","block_id":"K7f","text":{"type":"mrkdwn","text":"how
        2tasdfasdo use","verbatim":false}}],"state":{"values":{}},"hash":"1579878687.58aa96e7","private_metadata":"","callback_id":"","root_view_id":"VSRA36U2F","external_id":"","title":{"type":"plain_text","text":"View
        Title","emoji":true},"close":null,"submit":null,"previous_view_id":null,"clear_on_close":false,"notify_on_close":false}}'
    headers:
      Content-Type: application/json; charset=utf-8
      X-OAuth-Scopes: app_mentions:read,channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,mpim:write,reactions:read,reactions:write,team:read,usergroups:read,users.profile:read,users:read,users:write,pins:read,pins:write
      X-Slack-Backend: h
      X-Slack-Req-Id: 86e61a3d375ecbc2804fd2281373a056
      X-Via: haproxy-www-wg11
    status:
      code: 200
      message: OK
    url: https://www.slack.com/api/views.publish
version: 1
