interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
      authorization:
      - DUMMY
    method: GET
    uri: https://www.slack.com/api/channels.info?channel=C5GQNTS07
  response:
    body:
      string: '{"ok":true,"channel":{"id":"C5GQNTS07","name":"general","is_channel":true,"created":1495325664,"is_archived":false,"is_general":true,"unlinked":0,"creator":"U5FTQ3QRZ","name_normalized":"general","is_read_only":false,"is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"last_read":"1560902428.000100","latest":{"type":"message","subtype":"bot_message","text":"test","ts":"1562423010.003600","username":"BusyBeaverDev","bot_id":"BEJ2BG1PG"},"unread_count":13,"unread_count_display":11,"members":["U5FTQ3QRZ","UEANVEWMN","UEGGXQ5EF","UFZKG96KD","UGG6065AP","UGLHLEJMT","UKZF9G2SH"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"previous_names":[]}}'
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Access-Control-Allow-Headers
      : slack-route, x-slack-version-ts
      ? !!python/object/new:multidict._istr.istr
      - Access-Control-Allow-Origin
      : '*'
      ? !!python/object/new:multidict._istr.istr
      - Access-Control-Expose-Headers
      : x-slack-req-id, retry-after
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : private, no-cache, no-store, must-revalidate
      ? !!python/object/new:multidict._istr.istr
      - Connection
      : keep-alive
      ? !!python/object/new:multidict._istr.istr
      - Content-Encoding
      : gzip
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '502'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/json; charset=utf-8
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 06 Jul 2019 14:26:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Expires
      : Mon, 26 Jul 1997 05:00:00 GMT
      ? !!python/object/new:multidict._istr.istr
      - Pragma
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Apache
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Accept-Encoding
      ? !!python/object/new:multidict._istr.istr
      - Via
      : 1.1 e9df1c8f21e296ac8b108870aadd91f7.cloudfront.net (CloudFront)
      X-Accepted-OAuth-Scopes: channels:read,read
      X-OAuth-Scopes: identify,bot:basic
      X-Slack-Req-Id: b292edb2-9b5a-4369-a7af-a2742fa08950
      X-Via: haproxy-www-qtt5
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - www.slack.com
        - /api/channels.info
        - channel=C5GQNTS07
        - ''
version: 1
