interactions:
- request:
    body: null
    headers:
      authorization: [DUMMY]
    method: GET
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=ChicagoPython&tweet_mode=extended
  response:
    body: {string: '[{"created_at":"Wed Jan 23 01:49:21 +0000 2019","id":1087889993975193600,"id_str":"1087889993975193600","full_text":"RT
        @NYCPyLadies: Learn about solving sudoku with python and NumPy in this blog
        post by @feliciahsiehsw \u2728 https:\/\/t.co\/1BaRwuX0Ng","truncated":false,"display_text_range":[0,128],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"NYCPyLadies","name":"NYC
        PyLadies","id":764988974,"id_str":"764988974","indices":[3,15]},{"screen_name":"feliciahsiehsw","name":"FeliciaSW","id":14836491,"id_str":"14836491","indices":[87,102]}],"urls":[{"url":"https:\/\/t.co\/1BaRwuX0Ng","expanded_url":"https:\/\/medium.com\/@feliciaSWE\/solving-sudoku-with-python-numpy-and-set-95ca55f9ba01","display_url":"medium.com\/@feliciaSWE\/so\u2026","indices":[105,128]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4145734157,"id_str":"4145734157","name":"ChiPy","screen_name":"ChicagoPython","location":"Chicago,
        IL","description":"The Chicago Python User Group loves you! Join us at 6pm
        on the 2nd Thursday of every month at all different locations around downtown
        Chicago. \ud83d\udc3f","url":"https:\/\/t.co\/PRcBbqRkpO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/PRcBbqRkpO","expanded_url":"http:\/\/www.chipy.org","display_url":"chipy.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":839,"friends_count":454,"listed_count":19,"created_at":"Mon
        Nov 09 01:26:26 +0000 2015","favourites_count":223,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":485,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/663559306965454848\/aBTV9K8l_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/663559306965454848\/aBTV9K8l_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/4145734157\/1447037423","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jan 23 01:27:33 +0000 2019","id":1087884510694379521,"id_str":"1087884510694379521","full_text":"Learn
        about solving sudoku with python and NumPy in this blog post by @feliciahsiehsw
        \u2728 https:\/\/t.co\/1BaRwuX0Ng","truncated":false,"display_text_range":[0,111],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"feliciahsiehsw","name":"FeliciaSW","id":14836491,"id_str":"14836491","indices":[70,85]}],"urls":[{"url":"https:\/\/t.co\[...]
