{% extends "base.html" %}
{% from "bootstrap/form.html" import render_field, render_form_row %}

{% block container %}
<h1>Configure GitHub Summary</h1>

<p>Enabled: {{ enabled }} (<a href="{{ url_for('web.toggle_github_summary_config_view') }}">toggle</a>)</p>

<form method="POST" action="{{ url_for('web.github_summary_settings') }}">
  {{ form.csrf_token }}

  {{ render_form_row(
      [form.channel],
      col_map={'channel': 'col-md-4', 'summary_post_time': 'col-md-3', 'summary_post_timezone': 'col-md-5'}
    )
  }}
  {{ render_form_row(
    [form.summary_post_time, form.summary_post_timezone],
    col_map={'summary_post_time': 'col-md-2', 'summary_post_timezone': 'col-md-5'}
  )
}}
  <input type="submit" value="Go">
</form>
{% endblock %}
