{% extends "base.html" %}

{% block container %}
<h1>Configure GitHub Summary</h1>


<h2>Configuration Settings</h2>
<p>Enabled: {{ enabled }} (<a href="{{ url_for('web.toggle_github_summary_config_view') }}">toggle</a>)</p>
<p>Channel: {{ channel }}</p>

<h3>Update Settings</h3>
<form method="POST" action="{{ url_for('web.github_summary_settings') }}">
  {{ form.csrf_token }}
  <br>
  {{ form.summary_post_time.label }} {{ form.summary_post_time(size=20) }}
  <br>
  {{ form.summary_post_timezone.label }} {{ form.summary_post_timezone() }}
  <br>
  <input type="submit" value="Go">
</form>
{% endblock %}
