{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form_row %}

{% block container %}
<h3>Organization Settings</h3>

<p>
  Customize Busy Beaver for your organization.
</p>

<hr>

<!-- TODO add user specified name to workspace -->

<form method="POST" action="{{ url_for('web.organization_settings') }}" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ render_form_row([form.organization_name], col_map={'organization_name': 'col-md-6'}) }}

  {{ render_form_row([form.logo], col_map={'logo': 'col-md-6'}) }}

  <input type="submit" value="Submit" class="btn btn-primary">
</form>

<br><br>

{% endblock %}
