{% extends "base.html" %}
{% from "bootstrap/form.html" import render_field, render_form_row %}

{% block container %}
<h3>Organization Settings</h3>

<p>
  Customize Busy Beaver for your organization.
</p>

<p>
  You can update your organization name and add your logo
  to brand messages from Busy Beaver.
</p>

<hr>

<form method="POST" action="{{ url_for('web.organization_settings') }}">
  {{ name_form.csrf_token }}
  {{ render_form_row([name_form.organization_name], col_map={'organization_name': 'col-md-6'}) }}

  <input type="submit" value="Submit" class="btn btn-primary">
</form>

<hr>

{% if logo %}
  <h6>Current Logo</h6>

  <br>

  <p>
    <img src="{{ logo }}" />
    <br>
    <small>
      <a href="{{ url_for('web.organization_settings_remove_logo') }}">remove</a>
    </small>
  </p>
{% else %}
  <h6>Upload Logo</h6>

  <form method="POST" action="{{ url_for('web.organization_settings_update_logo') }}" enctype="multipart/form-data">
    {{ logo_form.csrf_token }}
    {{ render_field(logo_form.logo) }}

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
{% endif %}

<br><br>

{% endblock %}
