{% extends "base.html" %}

{% block container %}
<h3>Privacy Policy</h3>

<p>
  The Busy Beaver team understands that <strong>your</strong> personal data
  is a big deal. We make an effort to limit the amount of data that we collect
  and store.
</p>

<p>
  Our database contains the following
  <a href="https://en.wikipedia.org/wiki/Personal_data">personally identifiable information</a>:
<ul>
  <li>Slack IDs for users that interact with the bot</li>
  <li>GitHub ID for users that register for the GitHub Summary feature</li>
</ul>
</p>
{% endblock %}
