{% extends "base.html" %}

{% block container %}
<h3>Busy Beaver Settings</h3>

<p>
  Busy Beaver has many different featues that can help organizers
  better engage their communities.
</p>

<ul>
  <li><a href="/settings/workspace">Workspace Configuration</a></li>
  <p>Organization information (name, logo, etc).</p>

  <li><a href="/settings/upcoming-events">Upcoming Events Settings</a></li>
  <p>Integrate your organization's event calendar into Busy Beaver.</p>

  <li><a href="/settings/github-summary">GitHub Summary Settings</a></li>
  <p>
    Tech-focused organizations can use Busy Beaver to share daily summaries
    of public GitHub activity for registered users.
  </p>
</ul>
{% endblock %}
