{% extends "base.html" %}
{% from "bootstrap/form.html" import render_field, render_form_row %}

{% block container %}
<h3>Upcoming Events -- Add / Remove Group</h3>

<hr>

<h6>My Groups</h6>

<ul>
  {% for group in groups %}
  <li>{{ group.meetup_urlname }} (<a href="{{ url_for('web.upcoming_events_delete_group', id=group.id) }}">remove</a>)</li>
  {% else %}
  No Active Groups
  {% endfor %}
</ul>

<hr>

<p>
  To add a new group, you will need your Meetup group's unique URL identifer.
</p>

<p>
  If your Meetup group URL is https://www.meetup.com/_ChiPy_/,
  enter <code>_ChiPy_</code>.
</p>

<form method="POST" action="{{ url_for('web.upcoming_events_add_new_group') }}">
  {{ form.csrf_token }}

  {{ render_form_row([form.meetup_urlname], col_map={'meetup_urlname': 'col-md-6'}) }}

  <input type="submit" value="Add New Group" class="btn btn-primary">
</form>
{% endblock %}
